page-exibe-foto-perto {

}

.divRelogio {
    width: 30px;
    height: 30px; 
    border-radius: 200px 200px 200px 200px; 
    background-color: red;
    margin-left: 5%;
    margin-top: 5%;
    z-index: 2;
    position: absolute;

}
